body {
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg");
  background-size: 100vw 100vh;
  font-family: monospace;
  height: 100vh
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: oblique;
  font-weight: 100;
}
